.maze {
    position: relative;
    border: 3px solid lightgray;
    background-color: black; 
}

.pacman,
.food,
.wall {
    position: absolute;
    width: 50px;
    height: 50px;
}

.food {
    display: flex;
    justify-content: center;
}

.food::after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: lightgray;
    content: " ";
    align-self: center;
}

.food.cherry::after {
    background-color: purple;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid pink;
}

.wall {
    display: flex;
    justify-content: center;
}

.wall::after,
.wall::before {
    content: " ";
    background-color: lightgray;
    align-self: center;
    position: absolute;
}

.wall.horizontal::before {
    height: 10px;
    width: 50px;
}

.wall.vertical::after {
    height: 50px;
    width: 10px;
}

.ghost {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.food.ghost::after {
    display: none;
}

.pacman {
    background-color: yellow;
    border-radius: 25px;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;
}


.panic-mode .ghost{
    background-color: blue;
}

.resume-game-btn {
    display: none;
}

.game-over {/*game over css*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    display: none;
}

.game-over h1 {
    font-size: 60px;
}